* {
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    background-color: rgb(236, 226, 184);
    background-image: url('img/background-with-books.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase-container {
    display: none;
    flex: 1;
    width: 100%;
    background-image: url('img/paper.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.phrase-text {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    text-align: center;
    color: rgb(20, 75, 59);
    white-space: normal;

}

button {
    width: 80%;
    border: 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 3px gray;
    font-size: 16px;
    color: black;
    margin-bottom: 5%;
}

button:active {
    background-color: rgb(88, 158, 138);
    color: white;
}

@media all and (min-width: 600px) and (max-width: 999px) {

    .container {
        width: 500px;
        height: 90vh;
    }
    
    .phrase-container {
        background-position: top;
        margin-bottom: 1%;
    }
    
    .phrase-text {
        font-size: 40px;
    }
    
    button {
        width: 100%;
        font-size: 20px;
    }
    
}

@media all and (min-width: 1000px) {

    .container {
        width: 800px;
        height: 90vh;
    }
    
    .phrase-container {
        background-position: top;
    }
    
    .phrase-text {
        font-size: 50px;
    }
    
    button {
        width: 100%;
        padding: 15px;
        font-size: 30px;
        margin-bottom: 2%;
    }
    
}
